cub3D/
cub3D
*.DS_Store
.DS_Sore
.vscode/
._*
tutorial.*
codes_from_videos/
cub3D.dSYM/
itoamouli.c
main_itoa.c
samples_main/main_split.c
*.a
*.o
./cub3d_destroyer
test_gnl.sh
wolftex/
.nfs*
./mapgen
*.txt
*.sh
NOwolftex/
wolftex/
*.out
ejemploraycaster.c
*.rtf
samples_main/
samples_xpm/
*.zip
./raycasting
cub3d_destroyer/
ejemploraycast.c
.gitignore
./mlxmake 
fichero.txt
